@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/*.fa-btn {*/
    /*font-size: 14px;*/
    /*background: none;*/
    /*cursor: pointer;*/
    /*padding: 12px 40px;*/
    /*display: inline-block;*/
    /*margin: 10px 0px;*/
    /*text-transform: uppercase;*/
    /*outline: none;*/
    /*position: relative;*/
    /*-webkit-transition: all 0.3s;*/
    /*-moz-transition: all 0.3s;*/
    /*transition: all 0.3s;*/
    /*border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*-o-border-radius: 4px;*/
/*}*/
/*.fa-btn:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*z-index: -1;*/
    /*-webkit-transition: all 0.3s;*/
    /*-moz-transition: all 0.3s;*/
    /*transition: all 0.3s;*/
/*}*/
/*.btn-1 {*/
    /*border: 2px solid #ff5454;*/
    /*color: #3b3b3b;*/
/*}*/
/*!* Button 1e *!*/
/*.btn-1e {*/
    /*overflow: hidden;*/
/*}*/
/*.btn-1e:after {*/
    /*width: 100%;*/
    /*height: 0;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*background: #ff5454;*/
    /*opacity: 0;*/
    /*-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);*/
    /*-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);*/
    /*-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);*/
    /*transform: translateX(-50%) translateY(-50%) rotate(45deg);*/
/*}*/
/*.btn-1e:hover,.btn-1e:active {*/
    /*color: #a94442;!*#ffffff;*!*/
    /*text-decoration:none;*/
/*}*/
/*.btn-1e:hover:after {*/
    /*height: 260%;*/
    /*opacity: 1;*/
/*}*/
/*.btn-1e:active:after {*/
    /*height: 400%;*/
    /*opacity: 1;*/
/*}*/

/*.btn-1 {*/
    /*border: 2px solid #ff5454;*/
    /*color: #3b3b3b;*/
/*}*/
